# Python virtual environment
.venv

# Unix GUI to launch application
*.desktop

# Code test coverage
.coverage

# Compiled python
**/*.pyc

# OSX meta files
**/.DS_Store
**/.AppleDouble

# vi backups
**/*.swp

# no idea
share/

# virtualenv python environment manager
env
