Adafruit-Blinka==8.65.0
adafruit-circuitpython-bitbangio==1.3.19
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.1
Adafruit-PlatformDetect==3.83.0
Adafruit-PureIO==1.1.11
apa102-pi==2.5.3
astroid==3.3.11
binho-host-adapter==0.1.6
black==25.1.0
click==8.2.1
coverage==7.10.6
dill==0.4.0
fake-rpigpio==0.1.1
iniconfig==2.1.0
isort==6.0.1
Mako==1.3.10
Markdown==3.8.2
MarkupSafe==3.0.2
mccabe==0.7.0
mpu9250-jmdev==1.0.12
mypy==1.17.1
mypy_extensions==1.1.0
numpy==2.3.2
packaging==25.0
pathspec==0.12.1
pdoc3==0.11.6
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
pycodestyle==2.14.0
pyftdi==0.57.1
Pygments==2.19.2
pylint==3.3.8
pyserial==3.5
pytest==8.4.1
pyusb==1.3.1
smbus2==0.5.0
tomlkit==0.13.3
typing_extensions==4.15.0
