attrs==26.1.0
autopep8==2.3.2
black==26.5.1
click==8.4.2
coverage==7.15.2
dill==0.4.1
exceptiongroup==1.3.1
fake-rpigpio==0.1.1
importlib_metadata==9.0.0
iniconfig==2.3.0
isort==8.0.1
lazy-object-proxy==1.12.0
Mako==1.3.12
Markdown==3.10.2
MarkupSafe==3.0.3
mccabe==0.7.0
mpu9250-jmdev==1.0.12
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pdoc3==0.11.6
platformdirs==4.11.0
pluggy==1.6.0
py==1.11.0
pycodestyle==2.14.0
Pygments==2.20.0
pylint==4.0.6
pyparsing==3.3.2
pytest==9.1.1
pytest-cov==7.1.0
pytokens==0.4.1
pytz==2026.3.post1
RPi.bme280==0.2.4
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus==1.1.post2
smbus2==0.6.1
toml==0.10.2
tomli==2.4.1
tomlkit==0.15.1
typing_extensions==4.16.0
wrapt==2.3.0
zipp==4.1.0
