black==26.5.1
click==8.5.0
colorzero==2.0
coverage==7.16.1
gpiozero==2.0.1.post3
iniconfig==2.3.0
lgpio==0.2.2.0
Mako==1.4.3
Markdown==3.10.3
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pdoc3==0.11.6
platformdirs==4.11.12
pluggy==1.6.0
pycodestyle==2.15.0
Pygments==2.21.0
pytest==9.1.1
pytest-cov==7.1.0
pytokens==0.4.1
setuptools==84.0.0
